<!DOCTYPE html>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dash.css') }}">
</head>

<body>
	<div class="wrapper">
		<!--Sidebar-->
		<nav id="sidebar">
			<div class="sidebar-content">
				<div class="sidebar-header">
					<a href='/'><img style="display:inline" src="../static/images/favicon.jpg"></a>
					<h3 style="display:inline">Station List</h3>
				</div>
			</div>
			<div class="stand-list-container">
				<ul id="stand-list"></ul>
			</div>

		</nav>


		<div id="content">
			<div class="content-header">
				<button type="button" id="sidebarCollapse" class="navbar-btn">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="chosen-button">
					<button type="button" class="btn btn-outline-primary" onClick='showAverage()'>Average</button>
					<button type="button" class="btn btn-outline-secondary" onClick="showForecast()">Forecast</button>
					<button type="button" class="btn btn-outline-success" onClick="showStreetView()">StreetView</button>
				</div>

				<div id='averageDays' class="date">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary" onClick='switchDay(1)' >Monday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(2)'>Tuesday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(3)'>Wednesday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(4)'>Thursday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(5)'>Friday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(6)'>Saturday</button>
						<button type="button" class="btn btn-primary" onClick='switchDay(0)'>Sunday</button>
					</div>
				</div>
				<div id='predictiveDays' class="date">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary" onClick='switchPredDay(0)' >Day 1</button>
						<button type="button" class="btn btn-primary" onClick='switchPredDay(1)'>Day 2</button>
						<button type="button" class="btn btn-primary" onClick='switchPredDay(2)'>Day 3</button>
						<button type="button" class="btn btn-primary" onClick='switchPredDay(3)'>Day 4</button>
						<button type="button" class="btn btn-primary" onClick='switchPredDay(4)'>Day 5</button>
					</div>
				</div>
			</div>

			<div class="view">
				<div class="overlay">
					<div class="loading-wrapper">
						<div class="bounceball">
							<div class="text" id="loading-text">Loadding...</div>
						</div>
					</div>
				</div>

				<div class="graph" id='average'>
					<canvas class="canvas" id='average-chart'></canvas>
				</div>
				<div class="graph" id='predict'>

					<canvas class="canvas" id='predict-chart'></canvas>
				</div>

				<div id="currentData">
					<div id="bikes"></div>
					<div id="stands"></div>
					<div id="status"></div>
				</div>

				<div id='streetView'></div>
			</div>


		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" ></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script type="text/javascript" src="../static/js/charts.js"></script>
		    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjRsP2Z4JM86ag3hkbRMmfS1a72YBlD8w">
		</script>


		<script type="text/javascript">
			$(document).ready(function() {
				$('#sidebarCollapse').on('click', function() {
					$('#sidebar').toggleClass('active');
					$(this).toggleClass('active');
				});
			});
		</script>

		<script>
			var currentStand = {{ value }}
			var d = new Date();
			var currentDay = d.getDay()
			getStaticLocations(currentStand, currentDay, predictie=false);
		</script>

</body>


</html>
