<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dublin Bike</title>
    <!-- Bootstrap CSS-->
    <!--    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.jpg') }}">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--The main CSS file -->
    <!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">-->


    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="wrapper">
        <!--Sidebar-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="/dash">Dashbord</a></h3>
            </div>



            <div class="form-group">
                <label for="userLocation">Your Location:</label>
                <input type="text" class="form-control" id="userLocation" placeholder="Enter your location">
                <br/>
                <label for="bike-stands">Bike Stands:</label>
                <!-- <input type="text" class="form-control" id="bike-stands" placeholder="Please enter your bike stands" data-bind="textInput: keyword, event:{keyup:fliterStands}"> -->

				<input type="text" class="form-control" id="bike-stands" placeholder="Please enter your bike stands"
				list="stands" data-bind="textInput: keyword, event:{keyup:fliterStands}" />

				<datalist id="stands" data-bind="foreach: placeList">
				  <option data-bind="text:name, click: $parent.displayInfo"></option>

				</datalist>
			</div>

			<button type="button" class="btn btn-primary btn-block" data-bind="click: show">Search Route</button>

        </nav>


        <div id="content">
            <div class="content-header">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div id="map"></div>

        </div>


        <script type="text/javascript" src="https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

        <!--        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>-->

        <script type="text/javascript" src="../static/js/app.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" >
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- add charts.js local script to index -->
        <script src="/charts.js"></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDjRsP2Z4JM86ag3hkbRMmfS1a72YBlD8w&callback=initMap">
        </script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>
</body>

</html>
