* {
    box-sizing: border-box;
    margin: 0;
}

body {
	overflow-x: hidden;
    overflow-y: hidden;
}


/*Side Bar style*/
#sidebar {
    width: 350px;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    height: 100vh;
    flex: none;
	overflow-y: scroll;
}

#sidebar.active {
    margin-left: -350px;
}

.sidebar-content {
	width: 100%;
	padding: 0 20px 0 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar-header {
    padding: 20px 25px 10px 25px;
    text-align: center;

}


/*Content*/
#content {
    width: calc(100vw - 350px);
	background-image: url('../images/bg.png');
}


.dash-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.title {
    float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}

.title:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

a {
	cursor: pointer;
}

#inputDate {
	margin: 100px 10px 0 15px;
}


/*Responsive Design*/
@media (max-width: 768px) {
    #sidebar {
        width: 200px;
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .sidebar-header h3 {
        font-size: 23px;
    }

	.chart-container {
		width: 100vw;
	}

}


a :hover {
	cursor: pointer;
}






/*DASHBOARD PAGE*/
.date {
	position: relative;
	right: -40%;
	top: -53%;
}

.chosen-button {
	position: relative;
	top: -30px;
	left: 90px;
}

.graph {
	display: inline-block;
	width: 800px;
	height: 50%;
	margin-top: 40px;
}


.stand {
	cursor: pointer;
	padding: 6px;
}

#canvas {
	width: 100% !important;
	height: 100%  !important;
}

.stand:hover {
	background-color:rgb(173,216,210);
	color: white;
}

#streetView, #map {
	display: inline-block;
	width: 100%;
	height: calc(100vh - 52px);
}

.view {
	text-align: center;
	width: 100%;
	height: calc(100vh - 52px);
}

#currentData {
	display: block;
	position: relative;
	left: 28%;
	width: 500px;
	height: 155px;
	color: white;
}

#currentData img {
	width: 200px;
	height: 155px;
	float: left;
}

.inf {
	float: left;
	display: block;
	margin-left: 10%;
}

.data-text {
	padding-top: 50px;
	width: 300px;
	height: 155px;
	float: left;
	background-color: #55cae8;
}

/*Loading Animation*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

.overlay {
	position: absolute;
	width: calc(100vw - 350px);
    height: calc(100vh - 52px);
	background-color: white;
	top: 50px;
	z-index: 9999;
}


.loading-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.text {
  color: #fbae17;
  display: inline-block;
  width: 120px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  z-index: 9999;
}

.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
