* {
    box-sizing: border-box;
    margin: 0;
}


body {
	overflow-x: hidden;
    overflow-y: hidden;
}


/*Side Bar style*/
#sidebar {
    width: 350px;
    background: #ffffff;
    color: #000000;
    transition: all 0.3s;
    height: 100vh;
    flex: none;
}

#sidebar.active {
    margin-left: -350px;
}

.bottom-button {
	position: fixed;
	bottom: 30px;
	width: 350px;
	left: 0;
	padding: 0 20px 0 20px;
}


.sidebar-content {
	width: 100%;
	padding: 0 20px 0 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar-header {
    padding: 20px 25px 10px 25px;
    text-align: center;
}

#location {
    width: 100%;
}

.search {
    width: 100%;
    height: 35px;
}

#result {
    list-style-type: none;
    padding: 0;
}

#result li {
    padding: 0 0 15px 15px;
}

#result li:hover {
    background-color: #434343;
    cursor: pointer;
}



#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: relative;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}


/*Responsive Design*/
@media (max-width: 768px) {
    #sidebar {
        width: 200px;
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .sidebar-header h3 {
        font-size: 23px;
    }

	.chart-container {
		width: 100vw;
	}

}





/*Content Style*/
#content {
    flex: 1;
}

.content-header {
    height: 71px;
    background-color: lightblue;
}

#map {
    width: 100%;
    height: calc(100vh - 71px);
}

#detail {
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    transition: all 0.4s;
}

.chart-container {
	background-color: white;
	position: relative;
	left: 20%;
	width: 50vw;
	height: 35vh;
	transition: all 1s;
}


#weather {
	position: absolute;

	top: 20px;
	right: 50%;
	color: white;
	z-index: 99;
}

#icon {
  height:50px;
  width:50px;

}








/*Loading Animation*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);


.overlay {
	width: 100%;
    height: calc(100vh - 71px);
}
.chartoverlay {
	width: 100%;
    height: calc(100vh - 71px);
}


.loading-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}




.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 20px;
  width: 350px;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  z-index: 9999;
}

.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbae17;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    -webkit-transform: scaleX(2);
            transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
